[submodule "submodules/quickstart-aws-vpc"]
	path = submodules/quickstart-aws-vpc
	url = https://github.com/aws-quickstart/aws-quickstart/quickstart-aws-vpc.git
	branch = main
[submodule "submodules/quickstart-linux-bastion"]
	path = submodules/quickstart-linux-bastion
	url = https://github.com/aws-quickstart/aws-quickstart/quickstart-linux-bastion.git
    branch = main
